.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  max-width: 800px;
}

.card-header {
  background-color: transparent; /* Removes the background color */
  border: none; /* Removes the border at the bottom of the card header */
}
.card-title {
  text-align: center;
  font-weight: bold;
  color: inherit;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
}

.card-text {
  margin-top: 20px;
  font-family: "AR One Sans", sans-serif;
}

.countdown {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  font-family: "Orbitron", sans-serif;
}

.number {
  font-size: 1em;
  font-weight: bold;
}

.text {
  font-size: 1rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 8px;
  border-radius: 50px;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d36135; /* Assuming you want this background color */
}

.col-md-8 {
  margin: 0 auto; /* Horizontally center if not using flex for this purpose */
}